<!-- Sign UP Modal   -->
   <div id="signUpModal" class="modal">
       <div class="modal-background"> </div>
       <div class="modal-content has-background-white py-5 pc-5">
          <button id="exitBtn2" class="button right is-danger">x</button>
           <h3 class="title mg-6" >Sign Up</h3>

            <div class="field">
            <p class="control has-icons-left">
              <input id="first_name" class="input" type="First Name" placeholder="First Name">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>

             <div class="field">
            <p class="control has-icons-left">
              <input id="last_name"class="input" type="Last Name" placeholder="Last Name">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>

           <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input id="email" class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="password" class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
              <button id="submitBtn" class="button is-info">
                Submit
              </button>
            </p>
          </div>
       </div>

   </div>
{{!-- <script src="./user_signUp.js"></script> --}}