
       <div class="background-image"></div> 



    <!-- Add mission statement -->
 
    <section class="section">
        <h1 class="title">Misson Statement</h1>
        <h2 class="subtitle">
            We're creating a travel resource with locals in mind.
            Enjoying travel while supporting the economic and environmental 
            climate of countries with input from natives by using
            local specific generated content.
        </h2>
  
        <!-- add search bar -->
        <div id="searchbar" class="searchCon">
            <input class="input is-success" type="text" placeholder="SERCH YOUR DESTINATION">
            <button class="button is-success">search</button>
            </input>
        </div>
    </section>



   <!-- Login Modal   -->
   <div id="modal" class="modal">
       <div class="modal-background"> </div>
       <div class="modal-content has-background-white py-5 pc-5">
          <button id="exitBtn" class="button right is-danger">x</button>
           <h3 class="title mg-6" >Log In/ Sign Up</h3>
           <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success">
                Log In
              </button>
              <button class="button is-info">
                Sign Up
              </button>
            </p>
          </div>
       </div>

   </div>
   