
       <div class="background-image"></div> 



    <!-- Add mission statement -->
 
    <section class="section">
        <h1 class="title">Misson Statement</h1>
        <h2 class="subtitle">
            We're creating a travel resource with locals in mind.
            Enjoying travel while supporting the economic and environmental 
            climate of countries with input from natives by using
            local specific generated content.
        </h2>
  
        <!-- add search bar -->
        <div id="searchbar" class="searchCon">
            <input class="input is-success" type="text" placeholder="SERCH YOUR DESTINATION">
            <button id='searchBtn' class="button is-success">search</button>
            </input>
        </div>
    </section>



