 <!-- Resources -->
   <h2>Travel Advisory:</h2>
{{!-- MIN work on this API to grab data --}}
   



   <h3>Forum</h3>
{{!-- placeholder/ future dev. --}}



   <h4>How to Help: </h4>

   {{!-- See if the Travel advisory API can connect to resources --}}
   {{!-- plan b: add links to the demo countries we are going to display --}}