
*{
    margin: 0;
    padding:0;
}
.background-image{
    background-image: url('/');
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.section{
  flex-wrap: wrap;
  flex-direction: column;
}

.right {
    float: right;
  }