
*{
    margin: 0;
    padding:0;
}
.background-image{
    background-image: url('./images/backgroundImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.section{
    height: 500px;
    width: 500px;
    padding: 100px;
}

.right {
    float: right;
  }